body {
    margin: 0;
    display: flex;
}

.header {
    position: absolute;
    text-align: center;
    height: 180px;
    width: 100%;
    background-color: #fff;
}

section {
    width: 70%;
    margin-left: 2%;
    margin-top: 200px;
    padding-bottom: 3%;

}

aside {
    width: 30%;
    margin-right: 2%;
    margin-top: 200px;
}

.card {
    border: 1px solid black;
    margin: 16px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0);

}

.card img {
    width: 100%;
    height: auto;
}

.card .text {
    padding: 16px;
}
